* {
    font-family: Trebuchet MS;
}

body, ul, li{
    margin: 0;
    padding: 0;
}

p, li, h1, h2, h3, h4{
    color: #4e4e4e;
}

body{
    background: #f7f7f7;
}

.wrapper{
    width: 96%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
}

header{
    background: #e5e5e5;
    padding: 20px 0;
}

header h1{
    margin: 0;
    text-indent: -10000px;
    background: url(images/logo.gif) no-repeat;
    width: 130px;
    float: left;
}

header nav{
    float: right;
}

header:after{
    display: block;
    content: "";
    clear: both;
}

header nav h2{
    line-height: 0;
    margin: 0;
    text-indent: -10000px;
}

header nav li{
    list-style-type: none;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}

header nav li a{
    text-decoration: none;
    color: #4e4e4e;
    text-transform: uppercase;
    font-weight: bold;
}

header nav li a.current{
    color: #1abb9c;
}

#main-banner img{
    width: 100%;
}

#main-banner{
    max-height: 500px;
    overflow: hidden;
}

#selling-points {
    margin-top: 60px;
}

#selling-points li {
    float: left;
    width: 23%;
    padding: 1%;
    text-align: center;
    list-style-type: none;
    line-height: 1.6em;
}

#selling-points:after {
    display: block;
    content: "";
    clear: both;
}

#latest-work {
    padding-top: 30px;
    margin-top: 30px;
    border-top: 2px solid #e4e4e4;
}

#latest-work li{
    width: 32%;
    float: left;
    list-style-type: none;
}

#latest-work h2{
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 40px;
}

#latest-work img{
    width: 100%;
}

#latest-work li:nth-child(2){
    margin: 0 2%;
}

#latest-work:after{
    display: block;
    content: "";
    clear: both;
}

#latest-work h3{
    margin-bottom: 0  ;
}

#latest-work p{
    line-height: 1.6em;
}

p.tags{
    color: #bbb;
    font-size: 14px;
    margin-top: 5px;
}

#quote{
    margin-top: 60px;
    width: 60%;
    padding: 40px 20%;
    background: url(images/quotes_img.png) no-repeat center 20px;
    background-color: #efefef;
    color: #4e4e4e;
    line-height: 1.6em;
    text-align: center;
}

footer{
    background: #202020;
    padding: 30px 0;
    border-top: 10px solid #151515;
}

footer h4{
    margin: 0;
    color: #555;
    text-transform: uppercase;
    font-size: 18px;
}

footer ul{
    float: left;
    width: 25%;
    list-style-type: none;
}

footer:after{
    content: "";
    display: block;
    clear: both;
}

footer li{
    color: #aaa;
    width: 80%;
    margin: 20px 0;
    font-size: 14px;
    line-height: 1.6em;
}

footer li.tw{
    padding-left: 20px;
    background: url(images/twitter_logo.png) no-repeat left 6px;
}

#copyright{
    clear: both;
    padding-top: 30px;
    margin-top: 30px;
    float: left;
    width: 100%;
    border-top: 2px solid #333;
    color: #999;
    font-size: 14px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 960px){

#selling-points li{
    width: 40%;
    padding: 0 5%;
    margin: 20px 0;
}
    
footer ul{
    width: 50%;
}
    
footer ul:nth-child(odd){
    clear: both;
}

#quote {
    width: 90%;
    padding: 40px 5%;
}    

}


@media screen and (max-width: 768px){
    
header nav{
    float: none;
}
    
header nav li{
    margin-left: 0;
    width: 16.66%;
    text-align: center;
    font-size: 14px;
}    

header h1.logo{
    float: none;
    margin: 0 auto 15px;
}    

#latest-work li{
    width: 60%;
    margin: 30px 20% !important;
    float: none;
}    

#latest-work h2{
    text-align: center;
}    
    
}

@media screen and (max-width: 480px){
    
#selling-points li{
    width: 80%;
    padding: 0 10%;
    margin 20px 0;
}    

#latest-work li{
    width: 80%;
    margin: 30px 10% !important;
}
    
#quote {
    font-size: 16px;
    font-weight: bold;
}
    
footer ul{
    width: 100%;
    float: none;
    border-top: 2px solid #333; 
}    

header nav li{
    float: none;
    width: 100%;
    margin: 0;
}    

header nav{
    background: #555;
}
    
header .wrapper{
    padding: 0;
    width: 100%;
}
    
header{
    padding-bottom: 0;
}

header nav li a{
    display: block;
    text-align: center;
    padding: 10px;
    color: #999;
    border-top: 1px solid #4f4f4f;
}    

#burger-nav{
    width: 100%;
    height: 50px;
    background: url(images/burger.png) no-repeat 98% center;
    cursor: pointer;
}
    
header nav ul{
    height: 0;
    overflow: hidden;
}
    
    header nav ul.open{
        height: auto;
    }
    
}